<h2>Available FD Joints:</h2>
<ul class="list-group">
#foreach( $fdj in $fdjoints )
  <li class="list-group-item"><label class="radio-inline"><input name="__fdjoint-name__$fdj.name" type="radio" value="$fdj.name">$fdj</label></li>
#end
</ul>