<h2 class="alert alert-info">Add a FD Joint!</h2>

#if( !$fds.isEmpty() )

<form action="/fdjoint" method="POST" >
  <h4>FD Joint Name</h4>
  <div class="form-group">
    <input id="__fdjoint-name__" name="__fdjoint-name__" class="form-control" type="text"></input>
  </div>
  
#parse( $fds-list-checkbox )

  <button type="submit" class="btn">Go!</button>
</form>
#else
  <h2 class="alert alert-danger">Add some Functional Dependencies!</h2>
#end

#parse( $fdjoints-list )