#if( !$relations.isEmpty() )
  <h2 class="alert alert-warning">Relations</h2>
  <ul class="list-group">
    #foreach( $relation in $relations )
      <li class="list-group-item">
        <p>$relation.getName()$relation.getAttrJoint()</p>
        <p>
        #foreach( $fd in $relation.getDFJoint() )
          #if( $velocityCount != $relation.getDFJoint().getSize())
            $fd || 
          #else
            $fd
          #end
        #end
        </p>
      </li>
    #end
   </ul>
#end