<!DOCTYPE html>
<html>
  <head>
    <title>Online Database Normalization!</title>
    <link rel='stylesheet'  href='/odn/css/bootstrap.css'>
  </head>
  <body>
    <div class="container">

      <!-- Header -->
      <div role="navigation" class="navbar navbar-default">

        <!-- Nav-Header Left -->
        <a class="navbar-brand" href="/odn">Create Session</a>
        <!-- Nav-Header Left -->

      </div>
      <!-- Header -->

      <div class="alert alert-danger">
        <h1 class="text-center"> 401, Not Authorized </h1>
        <h2 class="text-center"> Please, create a session before you proceed! </h2>
        <img src="/images/The_dead_end.jpg" class="img-thumbnail" alt="401"> 
      </div>
            
    </div>
    <!-- container -->
          
    <script src='/odn/js/jquery.js'></script>
    <script src='/odn/js/bootstrap.js'></script>
  </body>
</html>