<!DOCTYPE html>
<html>
  <head>
    <title>Online Database Normalization!</title>
    <link rel='stylesheet'  href='/css/bootstrap.css'>
  </head>
  <body>
    <div class="container">

      <!-- Header -->
      <div role="navigation" class="navbar navbar-default">

        <!-- Nav-Header Left -->
          <a class="navbar-brand" href="/">Create Session</a>
        <!-- Nav-Header Left -->

      </div>
      <!-- Header -->

      <div class="alert-success">
        <h1 class="text-center"> Good bye! </h1>
        <h2 class="text-center"> Say good things about me &#x1f61a;! </h2>
        <img src="/images/good-bye.jpg" class="img-thumbnail center-block" alt="Hasta la vista baby!"> 
      </div>
            
    </div>
    <!-- container -->
          
    <script src='/js/jquery.js'></script>
    <script src='/js/bootstrap.js'></script>
  </body>
</html>