<!DOCTYPE html>
<html>
  <head>
    <title>Online Database Normalization!</title>
    <link rel='stylesheet'  href='css/bootstrap.css'>
  </head>
  <body>
    <div class="container">
      
      <!-- Header -->
      <div role="navigation" class="navbar navbar-default">

        <div class="navbar-header">
          <a class="navbar-brand" href="/odn/global-view">Global View</a>
          <button aria-expanded="false" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Nav-Header Left -->
        <div id="example-navbar-collapse" class="navbar-collapse collapse">        

          <ul class="nav navbar-nav">
            <!-- Add Data Set -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relational Model<span class="caret"></span></a>
              <ul class="dropdown-menu"> <!-- Insert Data -->
                <li><a href="/odn/attribute">Attributes</a></li>
                <li><a href="/odn/fd">Functional Dependencies</a></li>
                <li><a href="/odn/fdjoint">FD Sets</a></li>
                <li><a href="/odn/relation">Relations</a></li>
              </ul>
            </li>
            <!-- Add Data Set -->

            <!-- Test and Normalize -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tests<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/odn/test-normal-form">Normal Form</a></li>
                <li><a href="/odn/test-minimal-cover">Minimal Cover</a></li>
                <li><a href="/odn/test-keys">Candidate/Super Keys</a></li>
                <li><a href="/odn/equivalence">Equivalence between two FD Sets</a></li>
                <li><a href="/odn/test-implies">FD Set A logically implies FD Set B</a></li>
                <li><a href="/odn/fd-partof-fdjoint">Functional Dependency can be inferred from FD Set</a></li>
              </ul>
            </li>
            <!-- Test and Normalize -->

            <!-- Analyze Data Set -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analysis<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/odn/normalize">Normalize</a></li>
                <li><a href="/odn/ullman">Attribute Set Closure</a></li>
                <li><a href="/odn/calculate-minimal-cover">Calculate Minimal Cover</a></li>
                <li><a href="/odn/calculate-keys">Calculate Candidate Keys</a></li>
                <li><a href="/odn/projection">Project a FD Set on an Attribute Set</a></li>
              </ul>
            </li>
            <!-- Analyze Data Set -->

          </ul>
          <!-- Nav-Header Left -->
 
          #if($username)
          <!-- Nav-Header Right -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">$username Session<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/odn/about">About</a></li>
                <li><a href="/odn/save">Save Session</a></li>
                <li><a href="/odn/load">Load Session</a></li>
                <li><a href="/odn/session">Close Session</a></li>
              </ul>
            </li>
          </ul>
          <!-- Nav-Header Right -->
          #end
        </div>
      </div>
        <!-- Header -->

      <div>

#parse( $template )

      </div>
            
    </div>
    <!-- container -->
          
    <script src='js/jquery.js'></script>
    <script src='js/bootstrap.js'></script>
    <script src='js/myjs.js'></script>
  </body>
</html>