<h2 class="alert alert-info">Add your session file!</h2>
<form action="/load" method="POST" enctype='multipart/form-data'>
  <div class="form-group">
    <input type='file' name='uploaded_file'>
  </div>
  <button type="submit" class="btn">Go!</button>
</form>