<!DOCTYPE html>
<html>
  <head>
    <title>Online Database Normalization!</title>
    <link rel='stylesheet'  href='/css/bootstrap.css'>
  </head>
  <body>
  	<div class="container">
  	  
  	  <!-- Header -->
      <div role="navigation" class="navbar navbar-default">

        <!-- Nav-Header Left -->
          <a class="navbar-brand" href="/">Create Session</a>
        <!-- Nav-Header Left -->

      </div>
      <!-- Header -->
  	
      <div>
        <h1 class="text-center">Welcome to Online Database Normalization!</h1>
        <h2 class="text-center">Create a session before you proceed!</h2>
        <form action="/odn/session" method="POST">
          <div class="form-group">
            <input id="__username__" name="__username__" class="form-control" type="text" placeholder="Enter a session name">
          </div>
          <button type="submit" onclick="checkUsername()" class="btn">Go!</button>
        </form>
      </div>
    </div>
    <!-- container -->
          
    <script src='/js/jquery.js'></script>
    <script src='/js/bootstrap.js'></script>
  </body>
</html>