<h2 class="alert alert-info">Test if a Functional Dependency can be inferred from a FD Joint?</h2>

#parse( $fd-partof-fdjoint-result )

<form action="fd-partof-fdjoint" method="POST" >
#if( !$fds.isEmpty() )
  #parse( $fds-list-radio)
#else
  <h2 class="alert alert-danger">Add some Functional Dependencies!</h2>
#end

#if( !$fdjoints.isEmpty() )
  #parse( $fdjoints-list-radio )
#else
  <h2 class="alert alert-danger">Add some Relations!</h2>
#end

#if( !$fdjoints.isEmpty() && !$fds.isEmpty() )
  <button type="submit" class="btn">Go!</button>
#end
</form>
