<h2 class="alert alert-info">Test if a Functional Dependency can be inferred from a FD Set?</h2>

#parse( $fd-partof-fdjoint-result )

<form action="/fd-partof-fdjoint" method="POST">

  #if( !$attributes.isEmpty() )
    <!-- Antecedent Attributes -->
    <div class="col-sm-6 form-group">
      <h4>Antecedent</h4>

      #parse( $attributes-list-checkbox-ant )

      <div class="list-group">
        <button type="button" onclick="checkAllAnt()" class="btn">Check all</button>
        <button type="button" onclick="uncheckAllAnt()" class="btn">Uncheck all</button>
      </div>
    </div>
    <!-- Antecedent Attributes -->
        
    <!-- Consequent Attributes -->
    <div class="col-sm-6 form-group">
      <h4>Consequent</h4>

      #parse( $attributes-list-checkbox-con )

      <div class="list-group">
        <button type="button" onclick="checkAllCon()" class="btn">Check all</button>
        <button type="button" onclick="uncheckAllCon()" class="btn">Uncheck all</button>
      </div>
      
    </div>
    <!-- Consequent Attributes -->

  #else
    <h2 class="alert alert-danger">Add some Attributes!</h2>
  #end

  #if( !$fdjoints.isEmpty() )
    #parse( $fdjoints-list-radio )
  #else
    <h2 class="alert alert-danger">Add some Relations!</h2>
  #end

  #if( !$fdjoints.isEmpty() && !$fds.isEmpty() )
    <button type="button" onclick="checkInferred()" class="btn">Go!</button>
  #end
</form>
