<h2 class="alert alert-info">Test if FD Set A logically implies FD Set B</h2>

#parse( $fdjoint-implies-fdjoint-result )

#if( !$fdjoints.isEmpty() )

  <form action="test-implies" method="POST">
    <!-- FD Set A -->
    <div class="col-sm-6 form-group">
      <h4>FD Set A</h4>

      #parse( $fdjoints-list-radio-a )

    </div>
    <!-- FD Set A -->

    <!-- FD Set B -->
    <div class="col-sm-6 form-group">
      <h4>FD Set B</h4>

      #parse( $fdjoints-list-radio-b )

    </div>
    <!-- FD Set B -->

    <button type="button" onclick="checkDoubleFDSet()" class="btn">Go!</button>
  </form>

#else
  <h2 class="alert alert-danger">Add some FD Sets!</h2>
#end