<h2 class="alert alert-info">Test in what Normal Form is a Relation!</h2>

#if( !$relations.isEmpty() )

#parse( $test-normal-form-result )

<form action="/test-normal-form" method="POST" >
  <h4>Normal Forms</h4>
  <ul class="list-group">
    <li class="list-group-item">
      <label class="radio-inline">
        <input name="__nf__" value="all" type="radio">All
      </label>
    </li>
    <li class="list-group-item">
      <label class="radio-inline">
        <input name="__nf__" value="2nd" type="radio">2nd Normal Form
      </label>
    </li>
    <li class="list-group-item">
      <label class="radio-inline">
        <input name="__nf__" value="3rd" type="radio">3rd Normal Form
      </label>
    </li>
    <li class="list-group-item">
      <label class="radio-inline">
        <input name="__nf__" value="bc" type="radio">Boyce-Codd Normal Form
      </label>
    </li>
  </ul>

#parse( $relations-list-radio )

  <button type="submit" class="btn">Go!</button>
</form>

#else
  <h2 class="alert alert-danger">Add some Relations!</h2>
#end