<h2 class="alert alert-info">Test if an Attribute Set is a Candidate/Super Key!</h2>

#parse( $test-keys-result )

<form action="/test-keys" method="POST" >

#if( !$attributes.isEmpty() )
  #parse( $attributes-list-checkbox)
  
  <div class="list-group">
    <button type="button" onclick="checkAll()" class="btn">Check all</button>
    <button type="button" onclick="uncheckAll()" class="btn">Uncheck all</button>
  </div>
  
#else
  <h2 class="alert alert-danger">Add some Attributes!</h2>

#end

#if( !$relations.isEmpty() )
  #parse( $relations-list-radio )
#else
  <h2 class="alert alert-danger">Add some Relations!</h2>
#end

#if( !$relations.isEmpty() && !$attributes.isEmpty() )
  <button type="button" onclick="checkKeys()" class="btn">Go!</button>
#end
</form>