<h2 class="alert alert-info">Test if an Attribute Joint is a Key!</h2>

#parse( $test-keys-result )

    <form action="/test-keys" method="POST" >

#parse( $attributes-list-checkbox)

#parse( $relations-list-radio )

	  <button type="submit" class="btn">Go!</button>
	</form>
  </div>
</div>