#if ( !$attributes.isEmpty() )
  <h2 class="alert alert-warning">Attributes</h2>
  <ul class="list-group">
  #foreach( $attr in $attributes )
    <li class="list-group-item">$attr
      <span class="pull-right">
        <form action="/delete-attribute" method="POST">
          <input type="hidden" name="__attr__" type="text" value="$attr">
          <button type="submit" class="btn btn-xs btn-danger">Delete</button>
        </form>
      </span>
    </li>
  #end
  </ul>
#end