<h1>Add you attribute!</h1>
<form action="/attribute" method="POST">
  <div class="form-group">
    <label for="attribute">Your name</label>
    <input id="attribute" name="attribute" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>