#if ( !$attributes.isEmpty() )
  <h2 class="alert alert-warning">Attributes</h2>
  <ul class="list-group">
  #foreach( $attr in $attributes )
    <li class="list-group-item">$attr</li>
  #end
  </ul>
#end