<h2 class="alert alert-info">Add an Attribute!</h2>
<form action="/esit/dbdstudio/attribute" method="POST">
  <div class="form-group">
    <input id="attribute" name="attribute" class="form-control" type="text">
  </div>

  <button onclick="checkAttribute()" type="button" class="btn">Go!</button>
</form>