<h2 class="alert alert-info">Add an Attribute!</h2>
<form action="/attribute" method="POST">
  <div class="form-group">
    <input id="attribute" name="attribute" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>