<h2 class="alert alert-info">Calculate a Relations Keys!</h2>

#parse( $calculate-keys-result )

    <form action="/calculate-keys" method="POST" >

#parse( $relations-list-radio )

	  <button type="submit" class="btn">Go!</button>
	</form>
  </div>
</div>