<h2 class="alert alert-info">Calculate a FD Joints Minimal Cover!</h2>

#parse( $calculate-minimal-cover-result )

    <form action="/calculate-minimal-cover" method="POST" >

#parse( $fdjoints-list-radio )

	  <button type="submit" class="btn">Go!</button>
	</form>
  </div>
</div>