<h2 class="alert alert-info">Calculate a Relations Candidate Keys!</h2>

#if( !$relations.isEmpty() )

#parse( $calculate-keys-result )

    <form action="/calculate-keys" method="POST" >

#parse( $relations-list-radio )

	  <button type="submit" class="btn">Go!</button>
	</form>

#else
  <h2 class="alert alert-danger">Add some Relations!</h2>
#end