<h2 class="alert alert-info">Calculate a FD Sets Minimal Cover!</h2>

#if( !$fdjoints.isEmpty() )

  #parse( $calculate-minimal-cover-result )

  <form action="/calculate-minimal-cover" method="POST">

    #parse( $fdjoints-list-radio )

    <button type="button" onclick="checkFDSetMinimal()" class="btn">Go!</button>
  </form>

#else
  <h2 class="alert alert-danger">Add some FD Sets!</h2>
#end