<h2 class="alert alert-info">Is a Functional Dependency part of a FD Joint?</h2>

#parse( $fd-partof-fdjoint-result )

    <form action="fd-partof-fdjoint" method="POST" >

#parse( $fds-list-radio)

#parse( $fdjoints-list-radio )

	  <button type="submit" class="btn">Go!</button>
	</form>
  </div>
</div>