<h2 class="alert alert-info">Project a FD Joint on an Attribute Joint!</h2>

#parse( $projection-result )

    <form action="/projection" method="POST" >

#parse( $fdjoints-list-radio )

#parse( $attributes-list-checkbox)

	  <button type="submit" class="btn">Go!</button>
	</form>
  </div>
</div>