<div class="col-sm-10 blog-main kbd">
  <div class="blog-post">
    <h1>Welcome!</h1>
    <h2>Create a session!</h2>
    <form action="/session" method="POST">
      <div class="form-group">
        <label for="username">Your name</label>
        <input id="username" name="username" class="form-control" type="text">
      </div>
      <button type="submit" class="btn">Go!</button>
    </form>
  </div>
</div>