<h1>Welcome!</h1>
<h2>Create a session!</h2>
<form action="/session" method="POST">
  <div class="form-group">
    <label for="__username__">Your name</label>
    <input id="__username__" name="__username__" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
