<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet'  href='/css/app.css'>
    <link rel='stylesheet'  href='/css/bootstrap.css'>
  </head>
  <body>
  	<div class="container">
      <!--Listado de links -->
      <div role="navigation" class="navbar navbar-default col-sm-10">
	    <!--<div class="col-sm-2 col-sm-offset-0 navbar-header kbd"> -->
	  	<ul class="nav navbar-nav">
	  	  <li class="active"><a href="/">Home</a></li>
	  	  <li><a href="/attribute">Attributes</a></li>
	  	  <li><a href="/fd">Functional Dependencies</a></li>
	  	  <li><a href="/fdjoint">FD Joints</a></li>
	  	  <li><a href="/relation">Relations</a></li>
	  	  <li><a href="/ullman">Ullman</a></li>
	  	</ul>
	  	<!--Listado de links -->
	  </div> <!-- navbar -->

	  <div class="row">

#parse( $template )

	  </div> <!-- row -->
    </div> <!-- container -->
  </body>
  <script type='javascript'  src='/js/bootstrap.js'>
</html>