<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet'  href='/css/app.css'>
    <link rel='stylesheet'  href='/css/bootstrap.css'>
  </head>
  <body>
  	<div class="container">
      
      <!-- Header -->
      <div role="navigation" class="navbar navbar-default col-sm-10">

        <!-- Nav-Header Left -->
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>

            <!-- Add Data Set -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Data Set <span class="caret"></span></a>
              <ul class="dropdown-menu"> <!-- Insert Data -->
                <li><a href="/attribute">Attributes</a></li>
                <li><a href="/fd">Functional Dependencies</a></li>
                <li><a href="/fdjoint">FD Joints</a></li>
                <li><a href="/relation">Relations</a></li>
              </ul>
            </li>
            <!-- Add Data Set -->

            <!-- Test Data Set -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tests on Data Set <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/find-normal-form">Detect Normal Form</a></li>
                <li><a href="#">Second Normal Form (2NF)</a></li>
                <li><a href="#">Third Normal Form (3NF)</a></li>
                <li><a href="#">Boyce-Codd Normal Form (BCNF)</a></li>
                <li><a href="#">Keys</a></li>
                <li><a href="#">Minimal Cover</a></li>
              </ul>
            </li>
            <!-- Test Data Set -->
            
            <!-- Normalize Data Set -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Normalize Relations <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Third Normal Form (3NF)</a></li>
                <li><a href="#">Boyce-Codd Normal Form (BCNF)</a></li>
              </ul>
            </li>
            <!-- Normalize Data Set -->
            
            <!-- Analyze Data Set -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Analyze Data Set <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/projection">Project a FDJoint on a Attribute Joint</a></li>
                <li><a href="#">FD Joint A implies FD Joint B?</a></li>
                <li><a href="#">Equivalence between two FD Joints</a></li>
                <li><a href="/fd-partof-fdjoint">Functional Dependency is part of FD Joint?</a></li>
                <li><a href="/ullman">Ullman Closure</a></li>
                <li><a href="/calculate-minimal-cover">Calculate Minimal Cover</a></li>
                <li><a href="/calculate-keys">Calculate Keys</a></li>
              </ul>
            </li>
            <!-- Analyze Data Set -->

          </ul>
          <!-- Nav-Header Left -->
 
          #if($username)
          <!-- Nav-Header Right -->
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/session">Close Session $username</a></li>
          </ul>
          <!-- Nav-Header Right -->
          #end

        </div>
        <!-- Header -->

        <div class="col-sm-10">

#parse( $template )

        </div>
            
    </div>
    <!-- container -->
          
    <script src='/js/jquery.js'></script>
    <script src='/js/bootstrap.js'></script>
  </body>
</html>