<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet'  href='/css/app.css'>
    <link rel='stylesheet'  href='/css/bootstrap.css'>
  </head>
  <body>
  	<div class="container">
	  <div class="row">
	    <!--Listado de links -->
	    <div class="col-sm-2 col-sm-offset-0 blog-sidebar kbd">
	  	  <ul class="sidebar-module">
	  	  	<li class="nav"><a href="/">Home</a></li>
	  	    <li class="nav"><a href="/attribute">Attributes</a></li>
	  	    <li class="nav"><a href="/fd">Functional Dependencies</a></li>
	  	    <li class="nav"><a href="/fdjoint">FD Joints</a></li>
	  	    <li class="nav"><a href="/relation">Relations</a></li>
	  	  </ul>
	  	</div>
  		<!--Listado de links -->

#parse( $template )

	  </div>
    </div>
  </body>
</html>