<h1>List of Functional Dependencies!</h1>
<p class="alert alert-success">Functional Dependencies: </p>
<ul class="list-group">
#foreach( $fd in $fds )
  <li class="list-group-item">$fd</li>
#end
</ul>