#if( !$fds.isEmpty() )
  <h2 class="alert alert-warning">Functional Dependencies</h2>
  <ul class="list-group">
  #foreach( $fd in $fds )
    <li class="list-group-item">$fd
      <span class="pull-right">
        <form action="/esit/dbdstudio/delete-fd" method="POST">
          <input type="hidden" name="__fd__" type="text" value="$fd">
          <button type="submit" class="btn btn-xs btn-danger">Delete</button>
        </form>
      </span>
    </li>
  #end
  </ul>
#end