#if( !$fds.isEmpty() )
<h4>Functional Dependencies</h4>
<ul class="list-group">
#foreach( $fd in $fds )
  <li class="list-group-item"><label class="checkbox-inline"><input name="$fd" type="checkbox" value="$fd">$fd</label></li>
#end
</ul>
#end